TOURNAMENT_DEVELOPMENT_MODE=false
TOURNAMENT_POSTGRES_PASSWORD=65640AD6

# Domain of this site
TOURNAMENT_DOMAIN=http://localhost:8000
TOURNAMENT_MEDIA_ROOT=/media

# LetsEncrypt config
# PUID=1000
# PGID=1000
# TZ=Europe/London
# URL=yourdomain.url
# SUBDOMAINS=www,
# VALIDATION=http
# DNSPLUGIN=cloudflare #optional
# DUCKDNSTOKEN=<token> #optional
# EMAIL=<e-mail> #optional
# DHLEVEL=2048 #optional
# ONLY_SUBDOMAINS=false #optional
# EXTRA_DOMAINS=<extradomains> #optional
# STAGING=false #optional
